/* resets */
* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* anti-iOS Safari / Webkit tweak */
textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="date"],
input[type="number"],
.input-checkbox {
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
}


/* Remove number spinner from Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


/* Remove number spinner from Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
    /* Removes leftover margin */
}


/* =============================== MAIN BODY =============================== */

html,
body {
    height: 100%;
}

body {
    /* fonts */
    font-family: 'Josefin Sans', 'Arial', sans-serif;
    font-size: 14px;
    color: #fff;
    
    /* background color and image */
    background-color: #333;
    
    /* layout */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: start;
}

/* full bleed background image container style */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: opacity 0.75s linear;
    opacity: 0;
    z-index: -1;
}

/* ============================= END MAIN BODY ============================= */


/* ================================ HEADER ================================= */

header {
    position: fixed;
    width: 100%;
    height: 64px;
    margin: 0;
    padding: 0;
    
    /* shadow */
    background: -webkit-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    background: -o-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    background: -moz-linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));    
    
    z-index: 1; /* must be > 0 or Glyphicons show above header */
}

.brand {
    height: 54px;
    margin: 5px;
    z-index: 9999;
    cursor: pointer;
}


/* ============================== END HEADER =============================== */

/* ============================== ABOUT =============================== */

.about {
    position: fixed;
    left: -300px;
    height: 100%;
    width: 300px;
    padding: 74px 5px;
    background: rgba(0,0,0,.5);
    transition: left 0.3s ease;
}

.about-show {
    left: 0px;
}

/* ============================== END ABOUT =============================== */


/* ============================== MAIN CONTENT ============================= */

article {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
    padding: 0.25em;
    width: 100%;
    justify-content: center;

    /* push article beneath header */
    margin-top: 54px;

    /* limit main content width and center */
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;

/*    border: 1px black solid;*/
}

section {
    -webkit-box-flex: 0;
    -ms-flex: 0;
    flex: 0;
    padding: 0.5em;
/*    border: 1px black solid;*/
    align-self: center;
    text-align: center;
}

section .time {
    font-size: 8em;
}

.greeting {
    font-size: 4em;
}

.ask-focus {
    display: inline-block;
    font-size: 3.5em;
    width: 720px
}

#focus-input {
    width: 720px;
    font-size: 3em;
    color: white;
    background: rgba(255,255,255,0.1);
    text-align: center;
    border-bottom: 2px solid white;
    outline: 0;
}

/* =========================== END MAIN CONTENT ============================ */


/* ================================ FOOTER ================================= */
footer {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 1em;
    
    /* shadow */
    background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    
}

/* quote feature */
footer .quote {
    flex: 1;
    padding: 0.25em 2em;
    text-align: center;
    align-self: center;
}
/* end quote feature */


footer .image-credit,
footer .todoToggle {
    flex: 0 100px;
    align-self: center;
    padding: 0.25em;
}

footer .todoToggle {
    text-align: right;
}

/* ============================== END FOOTER =============================== */


/* ============================== RESPONSIVE =============================== */

/* Greater than 640x, show nav text & hide icons */
@media all and (min-width: 640px) {
    
}

/* Tiny screens: narrow nav icon spacing & full width content */
@media all and (max-width: 360px) {

    section {
        font-size: 2em;
    }
    
    article {
        padding: 0 0 0.5em 0;
    }
}
