/* ============================= MODAL OVERLAY ============================= */
#overlay {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.5;
    z-index: 998;
}


/* ============================= GENERAL PANEL ============================= */
.panel {
    position: fixed;
    width: 380px;
    padding: 10px;
    background: rgba(0,0,0,.8);
    border-radius: 5px;
    z-index: 999;
    transition: transform 0.3s ease;
}

.panel-content {
    height: 100%;
    overflow-y: auto;
}

.panel-content > h1 {
    text-align: center;
    font-size: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.4);
}


/* ======================= SHOW/HIDE TOGGLE CLASSES ======================== */
.left-panel-show {
    transform: translateX(390px);
}

.right-panel-show {
    transform: translateX(-390px)
}


/* ============================== ABOUT PANEL ============================== */
.about-panel {
    top: 64px;
    left: -380px;
    height: calc(50% - 64px);
}

.panel-content > .about-table {
    width: 100%;
    height: calc(100% - 35px);
    border-collapse: collapse;
}

.panel-content > .about-table tr:hover {
    background: rgba(100,100,100,0.4);
    color: rgba(255,255,255,1);
}

.panel-content > .about-table td {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 10px;
    vertical-align: middle;
}

.panel-content > .about-table td.td-right {
    text-align: right;
}

.panel-content > .about-table td > a {
    font-size: 1.5em;
    padding: 0 5px;
    color: rgba(255,255,255,0.8);
    text-decoration: none;
}

.panel-content > .about-table td > a:hover {
    color: rgba(255,255,255,1);
}


/* ============================= WEATHER PANEL ============================= */
.weather-panel {
    top: 64px;
    right: -380px;
    height: calc(50% - 64px);
}

.weather-panel table {
    width: 100%;
}

.weather-panel table td {
    padding: 0.3em;
    text-align: center;
}

/* ============================ SETTINGS PANEL ============================= */
.settings-panel {
    bottom: 70px;
    left: -380px;
    height: calc(50% - 70px);
    padding-top: 10px;
}

.panel-content > form > .settings-name-input {
    width: calc(100% - 20px);
    margin: 10px;
    font-size: 1.3em;
    border: none;
    background: rgba(255,255,255,0.2);
    color: #fff;
    padding: 10px 5px;
}

.panel-content > .settings-table {
    width: 100%;
    height: calc(100% - 145px);
    border-collapse: collapse;
}

.panel-content > .settings-table td {
    color: #fff;
    font-size: 1.3em;
    font-weight: bold;
    padding: 0 10px;
    vertical-align: middle;
}

.panel-content > .settings-table td.td-right {
    width: 20px;
    text-align: left;
}

.panel-content > div .settings-btn {
    font-size: 1.1em;
    padding: 5px;
    margin: 5px 10px 0 10px;
    color: rgba(255,255,255,0.75);
    background: none;
    border: 1px solid rgba(255,255,255,0.2);
    border-radius: 2px;
    cursor: pointer;
}

.panel-content > div .settings-btn:hover {
    border: 1px solid rgba(255,255,255,1);
    background: rgba(255,255,255,0.2);
    color: #fff;
    box-shadow: 0 0 10px 2px rgba(100,100,200,0.7);
}

/* custom settings checkboxes */
input[type=checkbox] {
    display:none;   /* hide the actual checkbox */
}

input[type=checkbox] + label:before {
    cursor: pointer;
    font-family: FontAwesome;
    color: rgba(255,255,255,0.75);
    content: "\f096";  /* unchecked icon */
}

input[type=checkbox] + label:hover:before {
    color: rgba(255,255,255,1);
}


input[type=checkbox]:checked + label:before {
    content: "\f046";  /* checked icon */
    color: rgba(255,255,255,1);
}


/* ============================== TODOS PANEL ============================== */
.todos-panel {
    bottom: 70px;
    right: -380px;
    height: calc(100% - 134px);
    padding-top: 10px;
    overflow-x: hidden;
}